{% extends 'base.html' %}
{{super().__init__()}}

{% block header %}
<header>
    <div class="menu">
        <div class="main-section">
            <a href="{{url_for('index')}}"><button class="unactive_btn"><p>МЕНЮ</p></button></a>
        </div>
        <div class="faq-section">
            <a href="{{url_for('faq')}}"><button class="active_btn"><p>FAQ</p></button></a>
        </div>
        <div class="feedback-section">
            <a href="{{url_for('responses')}}"><button class="unactive_btn"><p>ОТЗЫВЫ</p></button></a>
        </div>
        {% if logged %}
            <div class="login-section">
                <a href="{{url_for('logout')}}"><button class="unactive_btn"><p>ВЫЙТИ</p></button></a>
            </div>
        {% else %}
            <div class="login-section">
                <a href="{{url_for('login')}}"><button class="unactive_btn"><p>ВОЙТИ</p></button></a>
            </div>
        {% endif %}
    </div>
</header>
{% endblock header %}

{% block content %}
<div class="content">
    <div class="FAQS">
     <div class="faq"><p>Q: Что это за сайт?</br></p>
     <p>A: Данный сайт является около-дневниковым форматом записи снов, которые по разным причинам смог записать автор и которыми
         он решил поделиться.
     </br></p></div>

     <div class="faq"><p>Q: Кто автор?</br></p>
         <p>A: Автор - человек, который почему-то решил, что это может оказаться кому-то интересным. Вы либо его и так знаете, либо можете
             связаться по указанным ссылкам на главной странице. Насколько это нужно - решать вам.
         </br></p></div>

    <div class="faq"><p>Q: Что за закрытая группа?</br></p>
     <p>A: Закрытая группа в ВК - аналогично, как и сайт, принадлежит Автору. В ней идёт речь о других вещах и новостях. Закрытая она
         ввиду сравнительно личного содержания. Заявки принимает человек.
         P.S.: Группа сдохла. Воскрешений не планируется. 
     </br></p></div>

     <div class="faq"><p>Q: Окей, почему ЭТО не в группе ВК?</br></p>
         <p>A: Ответ будет куда проще: потому что Автор решил так, захотел, сумел и сделал. Как минимум, ЧСВ своё потешить, что он поднял такой
             горе-сайт. 
         </br></p></div>

     <div class="faq"><p>Q: Когда заработает вкладка "Отзывы"?</br></p>
         <p>A: Ответом будет сначала вопрос: "А зачем оно вам нужно?" Но все же вообще я её сделал. Прошло пару лет, и наконец свершилось. Можете попробовать туда
            что-нибудь написать. :)
         </br></p></div>
     <div class="faq"><p>Q: Что случилось со старым сайтом?</br></p>
         <p>A: Ранее сайт был "статическим" и лежал на Github Pages. Прошли годы. Проект я не бросал, и набравшись некоторых должных навыков всё-таки решился
            на перенос этого сайта со статического на динамический, с расширением функционала.
         </br></p></div>
     <div class="faq"><p>Q: Почему я не могу зарегистрироваться?</br></p>
         <p>A: Потому что. Этот функционал рабочий вообще (админскую учётку же я создал здесь), но пока что я не дал к нему доступ остальным. 
            Может позже..
         </br></p></div>
    </div>
</div>
{% endblock content %}